{% if event.link %}<a href="{{ event.link }}">{% endif %}
{{ event.title -}}
{%- if event.link %}</a>{% endif %}

- {{ event.date|date(event.fuzzy_date ? site.fuzzy_date_format : site.default_date_format) }}

{% set venue = site.venues[event.location] %}
- {% if venue.website %}<a href="{{ venue.website }}">{% endif %}
{{ venue.name|default('TBC') }}
{% if venue.website %}</a>{% endif %}
